@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Helvetica;
	src: local(Helvetica);
	size-adjust: 85%;
}
body a {
	color: #8d6ba6;
}
html {
	font-family: Garamond, Georgia, serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	/* margin-top: $menu-height !important; */
	/* padding-top: 2rem !important; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'futura-pt', Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
	font-feature-settings: 'pnum';
	font-variant-numeric: proportional-nums;
}

h1 {
	@apply text-2xl;
}
h2 {
	@apply text-xl;
}
h3 {
	@apply text-lg;
}
img {
	max-width: 100%;
	height: auto;
}

